@mixin button-icon() {
  min-width: 20px;
  min-height: 20px;
  background-color: $white;
  -webkit-mask-size: contain; mask-size: contain;
  -webkit-mask-position: center; mask-position: center;
  -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

@mixin snackbar-icon {
  background-size: cover;
  -webkit-mask-size: contain; mask-size: contain;
  -webkit-mask-position: center; mask-position: center;
  -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $white;

  content: '';
  width: 24px;
  height: 24px;

  margin: 0px 8px 0px 0px;
}

@mixin no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}